p{
 font-size:1.25em;
 font-family: 'Didact Gothic', sans-serif;
 /* font-family: 'Caveat', cursive; */
 /* font-family: 'Inconsolata', monospace; */
}

h1{
 font-size:2.5em;
 font-family: 'Inconsolata', monospace;
 weight:800;
}

.jumbotron{
  background: url(../images/green_felt_1980x1020.jpg) repeat;
  color:#fff;
}

.social a{
    font-size:4.5em;
    padding:3rem;
}

.fa-facebook{
    color:#4869ae;
}

.fa-google-plus-g{
    color:#c03317;
}

.fa-youtube{
    color:#ff0000;
}

.fa-twitter{
    color:#1da1f2;
}

.fa-instagram{
    color:#cd3aa0;
}

.fa-facebook:hover,
.fa-google-plus-g:hover,
.fa-youtube:hover,
.fa-twitter:hover,
.fa-instagram:hover{
    color:#d5d5d5;
}

.parallax1{
  background: url(../images/poker_bg1_1980x1080.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
}

.falling_items_bg{
  background: none;
  background-image: url('../images/corndog-tile-1.png'), url('../images/corndog-tile.png'), url('../images/corndog-tile-2.png');
  /* background-image: url(../images/spining_chip.gif), url(../images/spining_chip.gif), url(../images/spining_chip.gif);*/
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index:1;
  animation: falling_items_bg 1000s linear infinite;
  transform: translate3d(0,0,0);
  /* chromium css-hack */
 -webkit-animation: falling_items_bg 1000s linear infinite;
 -webkit-transform: translate3d(0,0,0);
 /* mozilla css-hack */
 -moz-animation: falling_items_bg 1000s linear infinite;
 -moz-transform: translate3d(0,0,0);
 /* microsoft css-hack */
 -ms-animation: falling_items_bg 1000s linear infinite;
 -ms-transform: translate3d(0,0,0);
 /* opera css-hack */
 -o-animation: falling_items_bg 1000s linear infinite;
 -o-transform: translate3d(0,0,0);

}
        @keyframes falling_items_bg {
          0% {background-position: 0px 0px, 0px 0px, 0px 0px; /*transform: rotate(0deg),rotate(0deg)/*,rotate(0);*/}
          100% {background-position: 50000px 50000px, -10000px 20000px, 10000px 20000px;/* transform: rotate(90deg),rotate(360)/*,rotate(275);*/}
	  /* from {transform: rotate(0deg), rotate(0deg), rotate(0deg);} */
	  /* to {transform: rotate(0deg), rotate(360deg), rotate(0deg);} */
	  /* 100% {background-position: 50000px 50000px, 10000px 20000px, -10000px 15000px;} */
        }
	/* chromium css-hack */
        @-webkit-keyframes falling_items_bg {
          0% {background-position: 0px 0px, 0px 0px, 0px 0px;;}
          100% {background-position: 50000px 50000px, -10000px 20000px, 10000px 20000px;}
        }
	/* mozilla css-hack */
        @-moz-keyframes falling_items_bg {
          0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
          100% {background-position: 50000px 50000px, -10000px 20000px, 10000px 20000px;}
        }
	/* microsoft css-hack */
        @-ms-keyframes falling_items_bg {
          0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
          100% {background-position: 50000px 50000px, -10000px 20000px, 10000px 20000px;}          
        }
	/* opera css-hack */
	@-o-keyframes falling_items_bg {
          0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
          100% {background-position: 50000px 50000px, -10000px 20000px, 10000px 20000px;}          
        }
